<dev style="text-align: center">
<h1 class="pt-5">Welcome to my new system</h1>
<br>
<h2>here you can see categories, add products, order products, and more</h2>
</dev>
<dev style="text-align: center">
    <h3>made with <i class="bi bi-heart-fill"></i> by Mohammad Abu Jalboush </h3>
</dev>